@page "/"

<PageTitle>CodeRooms.exe</PageTitle>

<div class="background-root">

<div class="stack-container">
	<div class="stack-label-container">
		<label class="stack-label">Stack</label>
	</div>
	<div class="stack-label-contents-gap"></div>
	<div class="stack-contents">
		<label>Hello1</label>
		<label>Hello2</label>
	</div>
</div>

</div>