@page "/"

<PageTitle>CodeRooms.exe</PageTitle>

<div id="background-grid">
<div id="foreground">

<div id="stack-container">
	<div id="stack-label-container">
		<label id="stack-label">Stack</label>
	</div>
	<div id="stack-contents-scroll-container">
		<div id="stack-contents-container">
			<label class="stack-entry">Hello1</label>
			<label class="stack-entry">Hello2</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">PrinceOfPersiaTheSandsOfTimePrinceOfPersiaWarriorWithinPrinceOfPersiaTheTwoThrones</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
			<label class="stack-entry">Hello</label>
		</div>
	</div>
</div>

<div id="main-grid">
	<div id="text-editor-container">
		<textarea id="text-editor"/>
	</div>
	<div id="description-container">
		<textarea id="description" readonly>Description</textarea>
	</div>
	<div id="heap-idecontrols-container">
		<label>Heap, IDE Controls</label>
	</div>
	<div id="output-container">
		<textarea id="output" readonly>Output</textarea>
	</div>
	<div id="menu-container">
		<div id="level-select-container"></div>
		<div id="menu-bottom-bar-grid">
			<div id="total-stars-display-container">
				<label class="total-stars-label">Total:</label>
				<label id="total-stars-label" class="total-stars-label">0/0 ⭐</label>
			</div>
			<button id="current-syntax-button">Current Syntax: C#</button>
			<button id="solution-button">See Solution</button>
		</div>
	</div>
</div>

</div>
</div>