@page "/"

<PageTitle>CodeRooms.exe</PageTitle>

<div class="background-root">

<div class="stack-container">
	<div class="stack-label-container">
		<label class="stack-label">Stack</label>
	</div>
	<div class="stack-contents-container">
		<label class="stack-entry">Hello1</label>
		<label class="stack-entry">Hello2</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
		<label class="stack-entry">Hello</label>
	</div>
</div>

<div class="main-grid">
	<div class="text-editor-container">
		<textarea class="text-editor"/>
	</div>
	<div class="description-container">
		<label>Description</label>
	</div>
	<div class="heap-idecontrols-container">
		<label>Heap, IDE Controls</label>
	</div>
	<div class="output-container">
		<label>Output</label>
	</div>
	<div class="main-grid-bottom-right-container">
		<label>Main Grid Bottom-Right</label>
	</div>
</div>

</div>