.background-root {
    --stack-width: 130px;
    --heap-width: 555px;
    --heap-height: 350px;
    --ide-controls-width: 100px;
    --heap-idecontrols-width: calc(var(--heap-width) + var(--ide-controls-width));
    --main-grid-min-width: calc(100vw - var(--stack-width));

    background-color: rgb(42, 42, 42);
    min-height: 100vh;
    font-family: "cascadia mono";
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: row;
}

.stack-container {
    min-height: 100vh;
    width: var(--stack-width);
    display: flex;
    flex-direction: column;
}

.stack-label-container {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.stack-label {
    font-weight: bold;
}

.stack-label-contents-gap {
    height: 10px;
}

.stack-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.main-grid {
    display: grid;
    grid-template-columns: var(--heap-idecontrols-width) 1fr 1fr;
    grid-template-rows: 1fr var(--heap-height);
    min-width: var(--main-grid-min-width);
}

.text-editor-container {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: rgb(30, 30, 30);
}

.text-editor {
    all: inherit;
    width: 100%;
    height: 100%;
}

.description-container {
    grid-column: 3;
    grid-row: 1;
}

.heap-idecontrols-container {
    grid-column: 1;
    grid-row: 2;
}

.output-container {
    grid-column: 2;
    grid-row: 2;
}

.main-grid-bottom-right-container {
    grid-column: 3;
    grid-row: 2;
}