@page "/"

<PageTitle>CodeRooms.exe</PageTitle>

<div class="background-root">

<div class="stack-container">
	<div class="stack-label-container">
		<label class="stack-label">Stack</label>
	</div>
	<div class="stack-contents"></div>
</div>

</div>