.background-root {
    --stack-min-width: 130px;
    --stack-max-width: 250px;
    --heap-width: 555px;
    --heap-height: 350px;
    --ide-controls-width: 100px;
    --heap-idecontrols-width: calc(var(--heap-width) + var(--ide-controls-width));

    background-color: rgb(42, 42, 42);
    min-height: 100vh;
    max-height: 100vh;
    font-family: "cascadia mono";
    font-size: 16px;
    color: white;
    display: grid;
    grid-template-columns: max-content var(--heap-idecontrols-width) 1fr 1fr;
    grid-template-rows: 1fr var(--heap-height);
}

.stack-container {
    width: max-content;
    min-width: 130px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1 / 3;
}

.stack-label-container {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.stack-label {
    font-weight: bold;
}

.stack-contents-container {
    display: flex;
    flex-direction: column;
    align-items: safe center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-width: thin;
}

.stack-entry {
    padding-bottom: 15px;
}

.text-editor-container {
    grid-column: 2 / 4;
    grid-row: 1;
    background-color: rgb(30, 30, 30);
}

.text-editor {
    all: inherit;
    width: 100%;
    height: 100%;
}

.description-container {
    grid-column: 4;
    grid-row: 1;
}

.heap-idecontrols-container {
    grid-column: 2;
    grid-row: 2;
}

.output-container {
    grid-column: 3;
    grid-row: 2;
}

.main-grid-bottom-right-container {
    grid-column: 4;
    grid-row: 2;
}